<!-- If user is not signed in, show sign in form -->
<div class="authenticator" *ngIf="!user">
  <div class="container">
    <h3>Sign in to your account</h3>
    <form (submit)="handleSignIn($event)">
      <input name="username" placeholder="Username" />
      <input name="password" type="password" placeholder="Password" />
      <button>Sign In</button>
      <div class="error" *ngIf="error">
        {{ error }}
      </div>
    </form>
    <ng-container
      [ngTemplateOutlet]="customComponents?.footer || null"
    ></ng-container>
  </div>
</div>

<!-- If user is signed in, project desired content -->
<div class="authenticated" *ngIf="user">
  <!-- Accept contents with class name "authenticated" -->
  <ng-container
    [ngTemplateOutlet]="customComponents?.authenticated || null"
  ></ng-container>
</div>
